@model WalutyBusinessLogic.Models.CurrenciesComparatorModel;
@{
    ViewData["Title"] = "CurrenciesComparator";
}

<h1>Currencies Comparator</h1>
<div class="container">
    <form asp-controller="CurrencyComparision" asp-action="ShowResultCurrencyComparision" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Date"></label>
            <input type="date" asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
            @if (ViewBag.CommonDateRangeInfo != null)
            {
                <span class="text-danger">@ViewBag.CommonDateRangeInfo</span>
            }
        </div>
        <div class="form-group">
            <label asp-for="FirstCurrencyCode">First currency</label>
            <input type="text" asp-for="FirstCurrencyCode" name="FirstCurrencyCode" class="form-control" />
            <span asp-validation-for="FirstCurrencyCode" class="text-danger"></span>
            @if (ViewBag.NameErrorInfo != null)
            {
                <span class="text-danger">@ViewBag.NameErrorInfo</span>
            }
        </div>
        <div class="form-group">
            <label asp-for="SecondCurrencyCode">Second currency</label>
            <input type="text" asp-for="SecondCurrencyCode" name="SecondCurrencyCode" class="form-control" />
            <span asp-validation-for="SecondCurrencyCode" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">Show</button>
    </form>
</div>