@using WalutyBusinessLogic.Models.DTO
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Common
@model IPagedList<UserDTO>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Roles</th>
        </tr>
        <tr></tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
        <tr>
            <td>@user.Id</td>
            <td>@user.Email</td>
            @foreach (var role in user.Roles)
            {
                <td>@role</td>
            }
        </tr>
        }
    </tbody>
</table>

@Html.PagedListPager((IPagedList) Model,
    page => Url.Action("Index", new { pageNumber = page, pageSize = 5 }),
    new PagedListRenderOptions
    {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" },
        MaximumPageNumbersToDisplay = 5,
        EllipsesFormat = ""
    })