@using WalutyBusinessLogic.Models.DTO
@using Microsoft.AspNetCore.Identity;
@model UserModel

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<form asp-controller="Admin" asp-action="Update" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Id"></label>
        <input type="text" asp-for="Id" disabled="disabled" class="form-control" />
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input type="password" asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input type="password" asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Roles"></label>
        @foreach (var availableRole in (IList<IdentityRole>)ViewData["AllRoles"])
        {
            @availableRole <input type="checkbox" name="NewRoles" value="@availableRole.Name"
                                  checked="@Model.Roles.Contains(availableRole.Name))">
        }
    </div>
    
    <button type="submit" class="btn btn-success">Change</button>
</form>