@model WalutyBusinessLogic.Models.CurrencyConversionModel
@{
    var items = ViewData["currencyCodes"];
}
<h1>Currency conversion</h1>

<div class="container">
    <form asp-controller="CurrencyConversion" asp-action="ShowResultCurrencyConversion" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Date"></label>
            <input type="date" asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
            @if (ViewBag.CommonDateRangeInfo != null)
            {
                <span class="text-danger">@ViewBag.CommonDateRangeInfo</span>
            }
        </div>
        <div class="form-group">
            <label asp-for="FirstCurrency">First currency</label>
            <select asp-for="FirstCurrency" asp-items="(IEnumerable<SelectListItem>)@items" class="form-control">
                <option disabled="true" selected="true">Select Currency</option>
            </select>
            <span asp-validation-for="FirstCurrency" class="text-danger"></span>
            @if (ViewBag.NameErrorInfo != null)
            {
                <span class="text-danger">@ViewBag.NameErrorInfo</span>
            }
        </div>
        <div class="form-group">
            <label asp-for="SecondCurrency">Second currency</label>
            <select asp-for="SecondCurrency" asp-items="(IEnumerable<SelectListItem>)@items" class="form-control">
                <option disabled="true" selected="true">Select Currency</option>
            </select>
            <span asp-validation-for="SecondCurrency" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AmountFirstCurrency">Amount currency</label>
            <input type="number" asp-for="AmountFirstCurrency" name="AmountFirstCurrency" class="form-control">
            <span asp-validation-for="AmountFirstCurrency" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">Show</button>
    </form>
</div>